.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #121213;
  color: white;
}

nav.navbar{
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  border-top: 1.5px solid #3d3d41;
  border-bottom: 1.5px solid #3d3d41;
}

.board {
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 2px solid #3d3d41;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.row1,.row2,.row3{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  flex: 33%;
  height: 100%;
  border: 2px solid #3d3d41;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 60px;
}