.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #121213;
  color: white;
}

nav.navbar{
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-bottom: 1.5px solid #3d3d41;
}

.board {
  width: 315px;
  height: 385px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 2px solid #3d3d41;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.row1,.row2,.row3{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 20px;
}

.key{
  width: 40px;
  height: 60px;
  border-radius: 4px;
  background-color: rgba(129,131,132);
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#big {
  width: 75px;
  font-size: 12px;
}

.box{
  width: 100vw;
  height: calc(100vh - 170px);
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#correct{
  background-color: rgba(83,141,78);
}

#almost{
  background-color: rgba(181,159,59);

}

#disabled{
  background-color: rgba(58,58,60);
}

#wrong{
  background-color: rgba(58,58,60);
}

.letter.correct{
  animation: flip 0.6s forwards;
  --background-color: rgba(83,141,78);
}

.letter.almost{
  animation: flip 0.6s forwards;
  --background-color: rgba(181,159,59);
}

.letter.wrong{
  animation: flip 0.6s forwards;
  --background-color: rgba(58,58,60);
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: #121213;
    border-color: #3d3d41;
  }
  45% {
    transform: rotateX(90deg);
    background-color: #121213;
    border-color: #3d3d41;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
  }
  100% {
    transform: rotateX(0deg);
    background-color: var(--background-color);
  }
}


.letter:nth-child(1) {
  animation-delay: 0s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.4s;
}

.letter:nth-child(4) {
  animation-delay: 0.6s;
}

.letter:nth-child(5) {
  animation-delay: 0.8s;
}

.ending{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  height: 80%;
  width: 25%;
  top: 0;
  text-align: center;
}